body {	
	background-image: url("../img/000122168W.jpg");
        background-repeat: no-repeat; 
	background-size: cover;

}
h2{
	font-size: 400%;
}
h1{
	font-size: 400%;
	color: white;
	text-align: center;
}
